body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:189px;
    top:27px;
    width:380px;
    height:743px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:743px;
}

.u1 {
    position:absolute;
    left:2px;
    top:364px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2_6扫码购_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:160px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../2_6扫码购_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:220px;
    top:160px;
    width:321px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../2_6扫码购_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:220px;
    top:180px;
    width:320px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../2_6扫码购_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:190px;
    width:30px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:220px;
    top:224px;
    width:320px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:221px;
    top:266px;
    width:105px;
    height:75px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u12 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:327px;
    top:266px;
    width:105px;
    height:75px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u14 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:433px;
    top:266px;
    width:105px;
    height:75px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u16 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:221px;
    top:342px;
    width:105px;
    height:75px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u18 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:327px;
    top:342px;
    width:105px;
    height:75px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u20 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u21_container {
    position:absolute;
    left:433px;
    top:342px;
    width:105px;
    height:75px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u22 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:221px;
    top:418px;
    width:105px;
    height:75px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u24 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u25_container {
    position:absolute;
    left:327px;
    top:418px;
    width:105px;
    height:75px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u26 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u27_container {
    position:absolute;
    left:433px;
    top:418px;
    width:105px;
    height:75px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u28 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:221px;
    top:494px;
    width:105px;
    height:75px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u30 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u31_container {
    position:absolute;
    left:327px;
    top:494px;
    width:105px;
    height:75px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u32 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../2_6扫码购_files/u11_normal.png');
}

.u33_container {
    position:absolute;
    left:433px;
    top:494px;
    width:105px;
    height:75px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:81px;
}

.u34 {
    position:absolute;
    left:2px;
    top:21px;
    width:101px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../2_6扫码购_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:221px;
    top:570px;
    width:211px;
    height:68px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:74px;
}

.u36 {
    position:absolute;
    left:2px;
    top:18px;
    width:207px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../2_6扫码购_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:433px;
    top:570px;
    width:105px;
    height:68px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:74px;
}

.u38 {
    position:absolute;
    left:2px;
    top:26px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../2_6扫码购_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:462px;
    top:593px;
    width:48px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:25px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../2_6扫码购_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:493px;
    top:183px;
    width:40px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:299px;
    top:331px;
    width:164px;
    height:111px;
    overflow:hidden;
}

#pd1u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:111px;
    
}

.u44_normal {
    background-image: url('../2_6扫码购_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:110px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:116px;
}

.u45 {
    position:absolute;
    left:2px;
    top:16px;
    width:159px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:111px;
    
}

.u46_normal {
    background-image: url('../2_6扫码购_files/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:110px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:116px;
}

.u47 {
    position:absolute;
    left:2px;
    top:16px;
    width:159px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_container {
    position:absolute;
    left:66px;
    top:26px;
    width:32px;
    height:32px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

