body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:189px;
    top:27px;
    width:380px;
    height:743px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:743px;
}

.u1 {
    position:absolute;
    left:2px;
    top:364px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:160px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:220px;
    top:160px;
    width:321px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:220px;
    top:180px;
    width:320px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:190px;
    width:30px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:480px;
    top:190px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:230px;
    top:240px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:305px;
    top:236px;
    width:225px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:86px;
}

.u13 {
    position:absolute;
    left:2px;
    top:32px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:311px;
    top:242px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:230px;
    top:337px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:305px;
    top:329px;
    width:225px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:311px;
    top:337px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:230px;
    top:458px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:0px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:230px;
    top:488px;
    width:241px;
    height:17px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:17px;
    
}

.u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:230px;
    top:380px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u16_normal.png');
}

.u33_container {
    position:absolute;
    left:305px;
    top:372px;
    width:225px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:311px;
    top:380px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:230px;
    top:422px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u16_normal.png');
}

.u37_container {
    position:absolute;
    left:305px;
    top:414px;
    width:225px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:7px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:311px;
    top:422px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:305px;
    top:288px;
    width:164px;
    height:111px;
    overflow:hidden;
}

#pd1u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:111px;
    
}

.u41_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:110px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:116px;
}

.u42 {
    position:absolute;
    left:2px;
    top:16px;
    width:159px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:111px;
    
}

.u43_normal {
    background-image: url('../2_4_1_1编辑-基本信息_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:110px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:116px;
}

.u44 {
    position:absolute;
    left:2px;
    top:16px;
    width:159px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_container {
    position:absolute;
    left:66px;
    top:26px;
    width:32px;
    height:32px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

