body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:189px;
    top:27px;
    width:380px;
    height:743px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:743px;
}

.u1 {
    position:absolute;
    left:2px;
    top:364px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2_3交易管理-退款管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:160px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../2_3交易管理-退款管理_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:220px;
    top:160px;
    width:321px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../2_3交易管理-退款管理_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:220px;
    top:180px;
    width:320px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../2_3交易管理-退款管理_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:190px;
    width:30px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../2_3交易管理-退款管理_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:230px;
    top:234px;
    width:300px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../2_3交易管理-退款管理_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:230px;
    top:259px;
    width:300px;
    height:90px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:96px;
}

.u13 {
    position:absolute;
    left:2px;
    top:37px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../2_3交易管理-退款管理_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:230px;
    height:3px;
}

.u14 {
    position:absolute;
    left:291px;
    top:284px;
    width:230px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:291px;
    top:268px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:291px;
    top:296px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../2_3交易管理-退款管理_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u17 {
    position:absolute;
    left:241px;
    top:312px;
    width:280px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:242px;
    top:321px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../2_3交易管理-退款管理_files/u10_normal.png');
}

.u19_container {
    position:absolute;
    left:230px;
    top:359px;
    width:300px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../2_3交易管理-退款管理_files/u12_normal.png');
}

.u21_container {
    position:absolute;
    left:230px;
    top:384px;
    width:300px;
    height:90px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:96px;
}

.u22 {
    position:absolute;
    left:2px;
    top:37px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../2_3交易管理-退款管理_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:231px;
    height:3px;
}

.u23 {
    position:absolute;
    left:291px;
    top:409px;
    width:231px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:291px;
    top:393px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:291px;
    top:421px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../2_3交易管理-退款管理_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u26 {
    position:absolute;
    left:241px;
    top:437px;
    width:280px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:241px;
    top:451px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../2_3交易管理-退款管理_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:230px;
    top:484px;
    width:300px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../2_3交易管理-退款管理_files/u12_normal.png');
}

.u30_container {
    position:absolute;
    left:230px;
    top:509px;
    width:300px;
    height:90px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:96px;
}

.u31 {
    position:absolute;
    left:2px;
    top:37px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../2_3交易管理-退款管理_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:231px;
    height:3px;
}

.u32 {
    position:absolute;
    left:291px;
    top:534px;
    width:231px;
    height:10px;
    
}

.u33 {
    position:absolute;
    left:291px;
    top:518px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:291px;
    top:546px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../2_3交易管理-退款管理_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u35 {
    position:absolute;
    left:241px;
    top:562px;
    width:280px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:241px;
    top:576px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:338px;
    top:321px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_normal {
    background-image: url('../2_3交易管理-退款管理_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:509px;
    top:190px;
    width:20px;
    height:22px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:22px;
}

.u39 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../2_3交易管理-退款管理_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:241px;
    top:269px;
    width:40px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../2_3交易管理-退款管理_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:241px;
    top:393px;
    width:40px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../2_3交易管理-退款管理_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:241px;
    top:518px;
    width:40px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:434px;
    top:321px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u47 {
    position:absolute;
    left:260px;
    top:301px;
    width:237px;
    height:105px;
    overflow:hidden;
}

#pd1u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:105px;
    
}

.u48_normal {
    background-image: url('../2_3交易管理-退款管理_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:236px;
    height:104px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:110px;
}

.u49 {
    position:absolute;
    left:2px;
    top:44px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:14px;
    top:21px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:26px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:119px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:105px;
    
}

.u53_normal {
    background-image: url('../2_3交易管理-退款管理_files/u48_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:236px;
    height:104px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:110px;
}

.u54 {
    position:absolute;
    left:2px;
    top:44px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:14px;
    top:21px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:26px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:119px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:434px;
    top:446px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:434px;
    top:571px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

