body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:189px;
    top:27px;
    width:380px;
    height:743px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:743px;
}

.u1 {
    position:absolute;
    left:2px;
    top:364px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../3_2_2快速咨询_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:160px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../3_2_2快速咨询_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:220px;
    top:160px;
    width:321px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../3_2_2快速咨询_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:220px;
    top:180px;
    width:320px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../3_2_2快速咨询_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:190px;
    width:30px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:482px;
    top:190px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u11 {
    position:absolute;
    left:220px;
    top:229px;
    width:320px;
    height:412px;
    overflow:hidden;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:412px;
    
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:412px;
    
}

.u12_normal {
    background-image: url('../3_2_2快速咨询_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:17px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:23px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../3_2_2快速咨询_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:59px;
    top:25px;
    width:210px;
    height:35px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:41px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../3_2_2快速咨询_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:53px;
    top:35px;
    width:6px;
    height:12px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:18px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-2px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../3_2_2快速咨询_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:10px;
}

.u19 {
    position:absolute;
    left:54px;
    top:36px;
    width:10px;
    height:10px;
    
}

.u20_normal {
    background-image: url('../3_2_2快速咨询_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:12px;
    top:26px;
    width:35px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:69px;
    top:35px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:260px;
    top:301px;
    width:237px;
    height:105px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:105px;
    
}

.u24_normal {
    background-image: url('../3_2_2快速咨询_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:236px;
    height:104px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:110px;
}

.u25 {
    position:absolute;
    left:2px;
    top:44px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:14px;
    top:21px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:26px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:119px;
    top:59px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_normal {
    background-image: url('../3_2_2快速咨询_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:220px;
    top:592px;
    width:321px;
    height:49px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:49px;
}

.u30 {
    position:absolute;
    left:2px;
    top:16px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

